<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu scrollBar">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Main</div>
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"></div>
                    live stream
                </a>
                <div class="sb-sidenav-menu-heading">HoloLive</div>
                <%
                for(var i=0; i<channel.length; i++){
                  var data = channel[i];
                %>
                <a class="nav-link" href="/board/<%=data.channel_name%>/1">
                    <div class="sb-nav-link-icon"><img id="img" draggable="false" height="24" width="24" alt="" src="<%=data.channel_img%>" style="border-radius: 70%;"></div>
                    <%=data.channel_name%>
                </a>
                <%}%>
            </div>
        </div>
    </nav>
</div>
<div id="layoutSidenav_content">
    <main>
        title : <%=video_name%></br>
        video url : <%=videoid%></br>
        best datetime : <%=best_timeline%>s</br>
        best sec : <%=best_sec%>s</br>
        live viewers : <%=best_count%></br>
        <%
            var url = videoid;
            const vid = url.replace('https://www.youtube.com/watch?v=', '');
        %>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=vid%>?start=<%=best_sec-45%>&end=<%=best_sec+45%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div style="width: 560px; height: 315;">
            <canvas id="myChart"></canvas>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2023</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'live viewer', //차트 제목
            data: [<% for(var i=0; i<livecount.length; i++){data=livecount[i];%><%=data.viewers%>,<%}%>
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 1
        }],
        labels: [<% for(var i=0; i<livecount.length; i++){%>"",<%}%>
        ],
    },
});
</script>